## 1. Pandas import문

In [ ]:
#
from pandas import Series,DataFrame
import pandas as pd

import numpy as np

## 2. Series 선언

In [19]:

s = Series([1,2,3,4,5])
s.name = "Prac"
print(s)
print(s.values)
print(s.index)
s.index = ['a','b','c','d','e']
print(s.index)
print(s.name)

0    1
1    2
2    3
3    4
4    5
Name: Prac, dtype: int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Prac

## 3. numpy 처럼 조건식, 산술식 가능

In [55]:
#딕셔너리로 생성
c = {'1':1,'2':2,'3':3}
c_index = ['a','b','c','d']

c = Series(c)
c

1    1
2    2
3    3
dtype: int64

## 4. +연산은 합집합 연산이다. 하나만 있으면 NaN

In [40]:
c = Series([1,2,3],index = [1,2,3])
d = Series([2,3,4],index = [2,3,4])
print(c)
print(d)
print(c+d)
#Series 색인의 name 속성이 따로 있다.
c.index.name = "colums"
c.name = "row"
print(c)

1    1
2    2
3    3
dtype: int64
2    2
3    3
4    4
dtype: int64
1    NaN
2    4.0
3    6.0
4    NaN
dtype: float64
colums
1    1
2    2
3    3
Name: row, dtype: int64

## 5. DataFrame 선언

In [56]:
data = {'c1':{'r1':1,'r2':2},'c2':{'r1':1,'r2':2}}
print(DataFrame(data))
data2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt','c1','c2'],
                   index=['one', 'two', 'three', 'four', 'five','r1','r2'])
print(data2)

    c1  c2
r1   1   1
r2   2   2
      year state  pop debt   c1   c2
one    NaN   NaN  NaN  NaN  NaN  NaN
two    NaN   NaN  NaN  NaN  NaN  NaN
three  NaN   NaN  NaN  NaN  NaN  NaN
four   NaN   NaN  NaN  NaN  NaN  NaN
five   NaN   NaN  NaN  NaN  NaN  NaN
r1     NaN   NaN  NaN  NaN  1.0  1.0
r2     NaN   NaN  NaN  NaN  2.0  2.0

## 6. DataFrame index, columns 속성(객체) 접근 방법

In [45]:
data = DataFrame(np.arange(3*3).reshape(3,3))
data.index = ['a','b','c']
data.columns = ['d','e','f']
index = data.index
print(index)
data

Index(['a', 'b', 'c'], dtype='object')

   d  e  f
a  0  1  2
b  3  4  5
c  6  7  8

## 7. Columns 또는 Index 순서 변경( 새로운 객체 반환!!!! )

In [57]:
data = DataFrame(np.arange(9).reshape(3,3))
print(data.reindex([2,1,0]),"\n")
#1 없는걸 0으로  fill_values = 0
print(data.reindex([3,3,3],fill_value = 0),"\n")
#2없는걸 앞에걸로
print(data.reindex([3,3,3],method = "ffill"),"\n")
#3없는걸 뒤에걸로
print(data.reindex([3,3,3],method = "bfill"),"\n")

   0  1  2
2  6  7  8
1  3  4  5
0  0  1  2

   0  1  2
3  0  0  0
3  0  0  0
3  0  0  0

   0  1  2
3  6  7  8
3  6  7  8
3  6  7  8

    0   1   2
3 NaN NaN NaN
3 NaN NaN NaN
3 NaN NaN NaN

## 8. Droppin(지우기, 새로운 객체 반환!!!), 기본적으로 index가 axis = 0이다.

In [73]:
data = DataFrame(np.arange(9).reshape(3,3))
s = Series(np.arange(3))
print(data,"\n")
print(data.drop(0,axis = 1),"\n")
print(data.drop(0,axis = 0))

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

   1  2
0  1  2
1  4  5
2  7  8

   0  1  2
1  3  4  5
2  6  7  8

## 10.

## 슬라이싱~ Series 포함, 문자열 슬라이싱은 stop을 포함 한다!!!



## DataFrame에서 행을 슬라이싱 하고 싶다면 loc을 사용!

In [80]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data[['one']]

          one
Ohio        0
Colorado    4
Utah        8
New York   12

## 11.

## DataFame에 조건에 맞는 셀에 값을 대입 할때

## loc 사용법 또는 (숫자로하는)iloc 사용법( Row메이저인 속성값(시퀸셜) 이다)

In [86]:
data = DataFrame(np.arange(9).reshape(3,3))
data[data<4] = 0
print(data)

print(data.loc[0,[1,2]])
print(data.iloc[1,2])
print(data.loc[:,:])

   0  1  2
0  0  0  0
1  0  4  5
2  6  7  8
1    0
2    0
Name: 0, dtype: int32
5
   0  1  2
0  0  0  0
1  0  4  5
2  6  7  8

## 12.

## 산술연산 + 는 조인 연산이다

## add 메소드 사용가능( fill_values 설정 가능 하다)

In [96]:
a = DataFrame(np.arange(9).reshape(3,3),index = list('123'), columns = list('abc'))
b = DataFrame(np.arange(9).reshape(3,3),index = list('234'), columns = list('bcd'))
print(a+b,"\n")

print(a.add(b,fill_value = 0),"\n")
print(a.reindex(b.index,fill_value = 0))

    a     b     c   d
1 NaN   NaN   NaN NaN
2 NaN   4.0   6.0 NaN
3 NaN  10.0  12.0 NaN
4 NaN   NaN   NaN NaN

     a     b     c    d
1  0.0   1.0   2.0  NaN
2  3.0   4.0   6.0  2.0
3  6.0  10.0  12.0  5.0
4  NaN   6.0   7.0  8.0

   a  b  c
2  3  4  5
3  6  7  8
4  0  0  0

## 13 . 브로드 캐스팅 가능!!

In [126]:
arr = np.arange(12.).reshape((3, 4))
print(arr,"\n")
arr - arr[0]

[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [134]:
frame = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
s = Series(list(range(3)),index = list('bde'))
frame.sub(frame['d'],axis = 0)

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

## 14.

## 함수의 적용과 매핑 .apply(함수, 축방향)

## 각 셀마다 => .applymap(함수)

In [155]:
s = DataFrame(np.arange(9).reshape(3,3),columns = list('abc'))


f = lambda x : x.max()
print(s.apply(f,axis = 1))


f = lambda x:x%3
print(s.applymap(f))

0    2
1    5
2    8
dtype: int64
   a  b  c
0  0  1  2
1  0  1  2
2  0  1  2

# 중요!

In [156]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
s.apply(f,axis = 0)

     a  b  c
min  0  1  2
max  6  7  8

## 15. 정렬, 랭킹 sort_index 또는 sort_values

## DataFrame에서 디폴트(axis = 0)는 index(로우) 이다., 솔트 밸류는 by값 지정!!!

In [164]:
o = Series([2,1,3,4],index = list('dabc'))
o.sort_values()

d = DataFrame(np.arange(8).reshape(2,4),index = ['three','one'],columns = list('dabc'))
d.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [165]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [169]:
frame.sort_values(by = list('ab'))

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

## 16. 랭킹 작은거 부터 1~부터 순위를 매김
 
## 같은 값이면 0.5 순위

## method='first' 먼저나온게 높은순위

## method = 'max' 큰값 부터 같은 순위 매기기

## ascending = False 역순

In [181]:
s = Series([1,2,3,3])
s.rank(ascending = True,method = 'max')

0    1.0
1    2.0
2    4.0
3    4.0
dtype: float64