In [5]:
#Pandas import문
from pandas import Series,DataFrame
import pandas as pd

import numpy as np

In [19]:
#Series 선언
s = Series([1,2,3,4,5])
s.name = "Prac"
print(s)
print(s.values)
print(s.index)
s.index = ['a','b','c','d','e']
print(s.index)
print(s.name)

0    1
1    2
2    3
3    4
4    5
Name: Prac, dtype: int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Prac

In [35]:
#numpy 처럼 조건식, 산술식 가능
s.max()
#딕셔너리로 생성
c = {'1':1,'2':2,'3':3}
c_index = ['a','b','c','d']

c = Series(c)
c

1    1
2    2
3    3
dtype: int64

In [40]:
#+연산은 합집합 연산이다. 하나만 있으면 NaN
c = Series([1,2,3],index = [1,2,3])
d = Series([2,3,4],index = [2,3,4])
print(c)
print(d)
print(c+d)
#Series 색인의 name 속성이 따로 있다.
c.index.name = "colums"
c.name = "row"
print(c)

1    1
2    2
3    3
dtype: int64
2    2
3    3
4    4
dtype: int64
1    NaN
2    4.0
3    6.0
4    NaN
dtype: float64
colums
1    1
2    2
3    3
Name: row, dtype: int64

In [44]:
# DataFrame 선언
data = {'c1':{'r1':1,'r2':2},'c2':{'r1':1,'r2':2}}
print(DataFrame(data))
data2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
print(data2)

    c1  c2
r1   1   1
r2   2   2
      year state  pop debt
one    NaN   NaN  NaN  NaN
two    NaN   NaN  NaN  NaN
three  NaN   NaN  NaN  NaN
four   NaN   NaN  NaN  NaN
five   NaN   NaN  NaN  NaN

In [ ]:
# DataFrame index, columns 속성