### 5.2.5 산술연산과 데이터 정렬

In [1]:
from numpy.random import randn
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

#### 1. 다음과 같은 DataFrame을 만들어, 다음 질의에 답하시오.

In [8]:
b = np.arange(12).reshape(4,3).astype(np.float64)
a = DataFrame(b,index = "Utah Ohio Texas Oregon".split())
a.columns = list("bde")

a

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

##### (1)  df1, df2를 합산하되, 없는 행의 값은 0으로 처리하여 합산하라. 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.add.html

##### (2) df1의 한 행마다 (1,2,3)을 더하되, Series로 만들어 순서대로 더하라

##### (3) df1의 한 컬럼마다  (1,2,3)을 더하되, Series로 만들어 순서대로 더하라.